@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/*General*/
:root {
  --shadow-color: hsl(0, 0%, 70%);
  --dark-grey: hsl(0, 0%, 40%);
  --white: #fcfcfc;
  --black: #2c2c2c;
  --light-blue: #90e0efff;
  --buttons-cta: #1990a7ff;
  --caution-red: #d11a2a;
  --background-caution: #e3b5b8;
  --green-button: #33b249;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: var(--white);
}

/*Header*/
.headerStore {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  background-color: var(--buttons-cta);
}

.headerStore__containerLogoMenu__logo {
  width: 8rem;
}

.headerStore__containerLogoMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerStore__navigation {
  display: none;
}

.headerStore__navigation--open {
  display: block;
  position: fixed;
  right: 0;
  top: 0rem;
  height: 100vh;
  width: 60vw;
  background-color: var(--white);
  padding-top: 2rem;
  box-shadow: -2px 0px 4px var(--shadow-color);
  animation: open 0.4s ease-out;
}
@keyframes open {
  from {
    display: none;
    transform: translateX(400px);
  }
  to {
    display: block;
    transform: translateX(0);
  }
}

.headerStore__navigation__closeMenu {
  position: fixed;
  right: 1.5rem;
}

.headerStore__navigation__navListUl {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 5rem 1.5rem;
}

.headerStore__navigation__navListUl__li__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black);
  cursor: pointer;
}

.headerStore__navigation__managerLink {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  width: 60%;
  margin: 0 auto;
  background-color: var(--buttons-cta);
  padding: 1rem 0.5rem;
  border-radius: 10px;
  color: var(--white);
  box-shadow: 0 5px 10px var(--shadow-color);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
/*Footer*/
.footerStore {
  background-color: var(--buttons-cta);
  padding: 1.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerStore__copy {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
}

.footerStore__rights {
  text-align: center;
  font-size: 1.2rem;
  font-family: 600;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.footerStore__personalLinks {
  width: 3rem;
}

/*Main Store*/
.mainStoreTitle {
  margin: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.mainStore {
  margin: 2rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.mainStore__productsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.mainStore__productsList__linkProduct {
  text-decoration: none;
}

.mainStore__productsList__linkProduct__cardProduct {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 5px 10px var(--shadow-color);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.3s;
}

.mainStore__productsList__linkProduct__cardProduct__image {
  width: 90%;
  height: 230px;
  object-fit: contain;
}

.mainStore__productsList__linkProduct__cardProduct__productName {
  margin: 1rem 0 0.5rem 0;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: var(--black);
}

.mainStore__productsList__linkProduct__cardProduct__productPrice {
  font-weight: 600;
  color: var(--dark-grey);
  font-size: 1.2rem;
}

/*Products by category*/
.productsByCategoryTitle {
  margin: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.categoriesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 2rem 0;
}

.categoriesSection__productsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.categoriesSection__productsList__linkProduct {
  text-decoration: none;
}

.categoriesSection__productsList__noProducts {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: var(--caution-red);
  background-color: var(--background-caution);
  padding: 0.8rem;
  border-radius: 10px;
  max-width: 70vw;
}

/*Single product page*/
.singleProductDisplay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 2rem 1rem;
  gap: 2rem;
  background-color: #fff;
}

.singleProductDisplay__image {
  max-width: 310px;
}

.singleProductDisplay__data {
  width: 100%;
}

.singleProductDisplay__data__productName {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.singleProductDisplay__data__productDescription {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--black);
}

.singleProductDisplay__data__rating {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--black);
}

.singleProductDisplay__data__price {
  font-size: 2rem;
  font-weight: 600;
  text-align: right;
}

/*Manager-products list*/
.managerList {
  padding: 1.5rem 1rem;
}

.managerList__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.managerList__productslist {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 500px;
  overflow: scroll;
  padding: 0.5rem;
}

.managerList__productslist__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 500;
  box-shadow: 0 3px 6px var(--shadow-color);
  padding: 0.8rem;
  border-radius: 10px;
  transition: transform 0.3s ease-out;
}

.managerList__productslist__product__deleteButton {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--caution-red);
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 6px var(--shadow-color);
  width: 4rem;
  height: 2rem;
}

.managerList__productslist__product__noProducts {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: var(--caution-red);
  background-color: var(--background-caution);
  padding: 0.8rem;
  border-radius: 10px;
}

/*Manager-product editor*/
.managerEditor {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.managerEditor__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.managerEditor__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.managerEditor__form__inputs__label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.managerEditor__form__inputs__label--categories {
  font-size: 0.7rem;
  display: block;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  color: var(--dark-grey);
}

.managerEditor__form__inputs {
  display: flex;
  flex-direction: column;
}

.managerEditor__form__inputs__name,
.managerEditor__form__inputs__price,
.managerEditor__form__inputs__description,
.managerEditor__form__inputs__category,
.managerEditor__form__inputs__image {
  margin-bottom: 2rem;
  font-size: 1rem;
  padding: 0.8rem;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 6px var(--shadow-color);
}

.managerEditor__form__inputs__description {
  height: 6rem;
}

.managerEditor__form__buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.managerEditor__form__buttons__clean {
  width: 8rem;
  aspect-ratio: 1 / 0.4;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--white);
}

.managerEditor__form__buttons__modify {
  width: 5rem;
  aspect-ratio: 1 / 0.5;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--green-button);
  color: var(--white);
}

.managerEditor__form__buttons__add {
  width: 5rem;
  aspect-ratio: 1 / 0.5;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--buttons-cta);
  color: var(--white);
}

@media (min-width: 768px) {
  /*Header*/

  .headerStore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    background-color: var(--buttons-cta);
  }

  .headerStore__containerLogoMenu__menuIcon {
    display: none;
  }

  .headerStore__containerLogoMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerStore__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerStore__navigation--open {
    display: none;
  }

  .headerStore__navigation__closeMenu {
    display: none;
  }

  .headerStore__navigation__navListUl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 0.6rem;
    padding: 1rem;
    text-align: center;
  }

  .headerStore__navigation__navListUl__li__link {
    font-size: 1rem;
    color: var(--white);
  }

  .headerStore__navigation__managerLink {
    text-align: center;
    width: 7rem;
    background-color: var(--white);
    border: 1px solid var(--shadow-color);
    color: var(--black);
  }

  /*Single product*/
  .singleProductDisplay {
    padding: 2rem 6rem;
  }

  /*Manager*/
  .managerList,
  .managerEditor {
    padding: 1rem 4rem;
  }
}

@media (min-width: 900px) {
  .headerStore__navigation__navListUl__li__link {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  /*Header*/
  .headerStore {
    padding: 3rem 5rem;
  }
  .headerStore__navigation__navListUl {
    gap: 1.5rem;
  }

  .headerStore__navigation__navListUl__li__link {
    font-size: 1.5rem;
  }

  .headerStore__navigation__managerLink {
    text-align: center;
    /* width: 10rem; */
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .headerStore__navigation__managerLink:hover {
    transform: scale(1.01);
  }

  .headerStore__navigation {
    gap: 2rem;
  }

  /*Main Store*/
  .mainStore__productsList__linkProduct__cardProduct:hover {
    transform: rotate(1deg);
  }

  /*Category*/
  .categoriesSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 70vh;
    margin: 2rem 0;
  }

  /*Single product*/
  .singleProductDisplay {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 60vh;
    padding: 5rem 1rem 2rem 1rem;
    gap: 3rem;
  }

  .singleProductDisplay__data {
    width: 50%;
  }

  .singleProductDisplay__data__productName {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .singleProductDisplay__data__productDescription {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .singleProductDisplay__data__rating {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .singleProductDisplay__data__price {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: right;
  }

  /*Manager*/
  .managerList,
  .managerEditor {
    padding: 0rem 8rem;
    max-width: 70%;
    margin: 4rem auto;
  }

  .managerEditor__title,
  .managerList__title {
    font-size: 2rem;
  }

  .managerList__productslist {
    font-size: 1.2rem;
    cursor: pointer;
  }

  .managerList__productslist__product:hover {
    transform: scale(1.01);
  }

  .managerList__productslist__product__productName {
    max-width: 85%;
  }

  .managerList__productslist__product__deleteButton {
    font-size: 1.2rem;
    font-weight: 700;
    width: 6rem;
    height: 3rem;
    cursor: pointer;
  }

  .managerList__productslist__product__noProducts {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    max-width: 80%;
    margin: 0 auto;
  }

  .managerEditor__form__inputs__label {
    font-size: 1.5rem;
  }

  .managerEditor__form__inputs__label--categories {
    font-size: 1rem;
  }

  .managerEditor__form__inputs__name,
  .managerEditor__form__inputs__price,
  .managerEditor__form__inputs__description,
  .managerEditor__form__inputs__category,
  .managerEditor__form__inputs__image {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .managerEditor__form__buttons__clean {
    width: 10rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }

  .managerEditor__form__buttons__clean:hover {
    transform: scale(1.02);
  }

  .managerEditor__form__buttons__modify {
    width: 7rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }

  .managerEditor__form__buttons__modify:hover {
    transform: scale(1.02);
  }

  .managerEditor__form__buttons__add {
    width: 7rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }

  .managerEditor__form__buttons__add:hover {
    transform: scale(1.02);
  }
}
